
h1{
 font-family:"Audiowide",Copperplate;
 font-size:45px;
 padding:70px;
 text-shadow: 1px 1px 3px gray;
 text-align: center;

}
h2{
 font-family:"Audiowide",Copperplate;
 font-size: 30px;
 text-shadow: 2px 2px 3px gray;
 padding:10px
 
}

h3{
 font-family:"Audiowide",Copperplate;
 font-size: 27px;
 text-shadow: 2px 2px 3px gray;
 padding:10px;
}

.ix{

 font-family:"Audiowide", Copperplate;
 font-size: 31px;
 text-shadow: 2px 1px 3px lightblue;
 text-align: center;
 padding:10px;
}
h5{
 font-family:"Audiowide", Copperplate;
 font-size: 20px;
 text-shadow: 0px 0px 1px #4da3ff;
  padding:10px;
}
p{

 font-family: Arial, Helvetica, sans-serif;
  margin:8px;
  max-width: 1300px;
 font-size:17px;
}

body {
  font-family:  Arial, Helvetica, sans-serif;
  font-size:1ex;
  padding: 10px 0;
  background-color: #f1f1f1;
  
}
.header {
  padding: 8px;
  text-align: center;
  background: lightblue;
}

.header h1 {
  font-size: 60px;
}
.topnav {
  overflow: hidden;
  background-color:#24262b;
} 
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #00539C;
  color: black;
  
}
p {
  text-align: justify;
}
body {
 
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}
ul.b {
  list-style-type: square;
   padding:10px;
   margin:30px;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100;
  object-fit: cover;
}

div.desc {
  padding: 20px;
  text-align: center;
}


 img{
 display:block;
 margin-left:auto;
 margin-right:auto;
 width: 50%;
 height:auto;

} 
.topnav {
  overflow: hidden;
  background-color:black;
} 
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #00539C;
  color: black;
}

.header {
   background-color: #fff;
    width: 100%;
   height: 100px;
   display: flex;
   background-image:url("bmw1.png");
   margin:-10px;
   align-items: center;
}



.content {

   
   color:8E8E8E;
   font-size: 17px;
   font-weight: 250;
   line-hight: 22px;
   margin: 40px 0;
}


*{
            margin:0;
            padding:0;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container{
            min-height:100vh;
            padding:0 10px ;
            max-width: 1222px;
        }
        .container h1{
            text-align: center;
            font-size: 2em;
            padding:10px 0;
            font-family: " Arial, Helvetica, sans-serif";
        }
        .container img{
            width:400px;
            height:350px;
            object-fit: cover;
            
        }
        .container #vid{
            float: right;
            padding-left:30px;
        }
        .container #img{
            float:left;
            padding-right:30px;
           
        }
      
        p{
            text-align: justify;
            line-height: 1.6;
            padding-bottom: 10px;
            
        }
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 300px;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.m h2{
           text-align: center;
            font-size: 1em;
            padding:10px 0;
            font-family: " Arial, Helvetica, sans-serif";
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height:30px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.button {
  background-color: #89CFF0;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 550px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  
}

#v22{



  background-color: #89CFF0;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4p
x 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}